.example-card {
    max-width: 420px;
    min-width: 260px;
  }
  
  .example-header-image {
    background-image: url('https://cdn0.iconfinder.com/data/icons/star-wars-3/154/droid-helmet-soldier-star-wars-512.png');
    background-size: cover;
  }
  