<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      >{{ name }} <i class="material-icons">public</i></mat-card-title
    >
    <mat-card-subtitle
      >total movies {{ films.length }}
      <i class="material-icons">live_tv</i></mat-card-subtitle
    >
  </mat-card-header>

  <app-crousel></app-crousel>

  <mat-card-content>
    <ul>
      <li>climate: {{ climate }}</li>
      <li>
        terrain:
        {{ terrain.length > 6 ? (terrain | slice: 0:14) + " ..." : terrain }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <app-popup
      climate="{{ climate }}"
      created="{{ created }}"
      diameter="{{ diameter }}"
      edited="{{ edited }}"
      films="{{ films }}"
      gravity="{{ gravity }}"
      name="{{ name }}"
      orbital_period="{{ orbital_period }}"
      population="{{ population }}"
      residents="{{ residents }}"
      rotation_period="{{ rotation_period }}"
      surface_water="{{ surface_water }}"
      terrain="{{ terrain }}"
      url="{{ url }}"
      img="{{ img }}"
    ></app-popup>
  </mat-card-actions>
</mat-card>
