<app-toolbar></app-toolbar>
<div *ngIf="dados.length < 2; else elseBlock" backgroud-color="primary">
  <app-spinner></app-spinner>
</div>
<ng-template #elseBlock>
  <div class="container-fluid pt-5 mt-5">
    <div class="row" *ngFor="let dado of dados">
      <div
        *ngFor="let planeta of dado.results"
        class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3"
      >
        <app-card
          name="{{ planeta.name }}"
          climate="{{ planeta.climate }}"
          movies="{{ planeta.films.length }}"
          terrain="{{ planeta.terrain }}"
        ></app-card>
      </div>
    </div>
  </div>
</ng-template>
